@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* ASIDE */
.aside{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 4px double #fff;
}

@media (max-width: 768px) {
    .aside{
        border-right: none;
    }
}