---
import User from '../components/User.astro';
import ContactEnd from '../components/ContactEnd.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Layout from "../layouts/Layout.astro";

const title= 'Curriculum Vitae';
---

<Layout title={title}>
    <div class="row cv bg-body-tertiary">
        <!-- Link -->
        <div class="link d-md-none">
			<a href="/yastacode.github.io/" class="active" title="Lettre de Motivation">
				<i class="btn btn-light bi bi-file-earmark-text"></i>
			</a>
		</div> 

        <!-- Aside -->
		<aside class="aside col-12 col-md-4">
            <div class="aside-header">
				<User />
			</div>
            <div class="aside-body">
				<ContactEnd />
                <Education />
                <Skills />
			</div>
        </aside>

        <!-- Section -->
    </div>
</Layout>

<style>
    /* link */
	.link{
        text-align: end;
		padding: 1rem 1rem 0 0;
    }
	.link .bi{
		font-size: 1.3rem;
		padding: 0 0.4rem 0 0.4rem;
	}

    /* aside-header */
	.aside-header{
		text-align: center;
		border-bottom: 1px dotted #7498b5;
		padding-bottom: 1rem;
	}
    /* aside-body */
	.aside-body{
		margin-bottom: auto;
        text-align: end;
	}
</style>