---
import Layout from "../layouts/Layout.astro";
const title= 'Curriculum Vitae';
---
<Layout title={title}>
    <div class="row lm bg-body-tertiary">
        <!-- Link -->
        <div class="link d-md-none">
			<a href="/yastacode.github.io/" class="active" title="Lettre de Motivation">
				<i class="btn btn-light bi bi-file-earmark-text"></i>
			</a>
		</div> 
        <!-- Aside -->
        <!-- Section -->
    </div>
</Layout>
<style>
    /* link */
	.link{
        text-align: end;
		padding: 1rem 1rem 0 0;
    }
	.link .bi{
		font-size: 1.3rem;
		padding: 0 0.4rem 0 0.4rem;
	}
</style>