---
import User from '../components/User.astro';
import Layout from "../layouts/Layout.astro";
const title= 'Lettre de Motivation';
---

<Layout title={title}>
	<div class="row lettre bg-body-tertiary">
		<!-- Link -->
		<div class="link d-md-none">
			<a href="/yastacode.github.io/cv/" class="active" title="Aller au CV"><i class="btn btn-light bi bi-file-person"></i></a>
		</div> 

		<!-- Aside -->
		<aside class="aside col-12 col-md-4">
			<div class="aside-header">
				<User />
			</div>
			<div class="aside-body">aside-body</div>
			<div class="aside-footer">aside-footer</div>
		</aside>

		<!-- Section -->
		<section class="section col-12 col-md-8">section</section>
		</div>
</Layout>

<style>
	/* link */
	.link{
        text-align: end;
		padding: 1rem 1rem 0 0;
    }
	.link .bi{
		font-size: 1.3rem;
		padding: 0 0.4rem 0 0.4rem;
	}

	/* aside-header */
	.aside-header{
		text-align: center;
		border-bottom: 1px dotted #7498b5;
		padding-bottom: 1rem;
	}

</style>