---
const education= [
    'Full Stack, Développeur Web',
    'Informatique Web',
    'École d\'Evere',
    '2004 - 2008',
    'Bruxelles - Belgique'
]
---

<!-- Education -->
<ul class="education">
    <li class="lead">education</li>
    {education.map((item) => 
    <li>{item}</li>
    )}
</ul>

<style>
    ul{
        list-style: none;
        padding: 0;
        text-align: end;
    }
    li:first-child{
        margin-top: 1rem;
        text-transform: uppercase;
        color: #7498b5;
    }
    @media (max-width: 768px) {
        .education{
            text-align: center;
        }
    }
</style>